.app-header {
  min-height: 60px;
  max-height: 60px;
  width: 100%;
  background: #8533ff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 0px 9px 1px #7133ce;
}

.app-header-logo {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-background {
  height: 50px;
  width: 50px;
  animation: App-logo-spin infinite 20s linear;
}
.app-header-logo__label {
  font-weight: 500;
  color: #ffff;
  position: absolute;
  font-size: 12px;
}
.app-header-title {
  width: 50%;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}
.app-header-links {
  width: 40%;
  padding: 0 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.app-header-links li {
  list-style-type: none;
  cursor: pointer;
  color: #ffffff;
  flex: 1;
  margin: 2px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.5s linear;
}

.app-header-links li:hover {
  background-color: #ffffff;
  color: #8533ff;
}

.app-header-links .selected {
  background-color: #ffffff;
  color: #8533ff;
}
.app-header-title__icon {
  visibility: hidden;
  cursor: pointer;
}

/* keyframes */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* media queries */

@media only screen and (max-width: 900px) {
  .app-header-logo {
    width: 20%;
  }
  .app-header-title {
    width: 80%;
    justify-content: space-between;
    padding-right: 10px;
  }
  .app-header-links {
    display: none;
  }
  .app-header-title__icon {
    visibility: visible;
  }
}
